* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
.App {
  font-family: "Roboto", sans-serif;
}
h1 {
  color: rgb(221, 34, 133);
  text-align: center;
}
h3,
h4 {
  color: rgb(75, 50, 137);
  text-align: center;
}


.home-page,
.wrapper {
  width: 100%;
  /*background-image: url("./images/joanna-kosinska-I3adKpDNAjM-unsplash.jpg");*/
}
.home-page-1 {
  width: 50%;
  margin: auto;
  font-size: larger;
  /*color: white;*/
  line-height: 35px;
  text-align: center;
}
.register-page {
  margin: auto;
  padding: 70px;
}
.dashboard h1 {
  text-align: center;
  padding-top: 150px;
}
.dashboard h3 {
  text-align: center;
}
/******************************     Navbar & Footer     ************************************/
/*Navbar*/
.MyNavbar {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}
.MyNavbar a {
  text-decoration: none !important;
  color: rgb(39, 39, 39);
}
.MyNavbar a:hover,
.MyFooter a:hover {
  color: #50f650;
}
h1,
h3,
h4,
h2 .NavTitle {
  font-family: "Lobster", cursive;
}
/**********Footer*/

.MyFooter h6 {
  color: rgb(255, 255, 255);
}
.FooterL2 {
  margin: auto;
  text-align: center;
  padding: 20px;
}

/*
.FooterContact {
  display: flex;
  width: 40%;
  margin: 10px;
  text-align: center;
}
*/
.MyFooter {
  background-color: #353a47;
  color: rgb(255, 255, 255);
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/*
.FooterP {
  text-align: center;
  padding: 0px;
  padding-bottom: 10px;
  margin: 0px;
}
.FooterSocialMedia,
.FooterMenu {
  display: flex;
  /*width: 25%;*/
  /*
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.MyFooter h5 {
  font-size: small;
}
.FooterContact1 h6 {
  font-family: "Lobster", cursive;
}
*/
/*************************************Public Pages*******************************************/
/*Carousel*/
.FeaturedCarousel h2 {
  font-family: "Lobster", cursive;
  font-size: 50px;
  color: white;
  text-shadow: 1px 0px 4px black;
}
.CarouselCaption {
  padding: 10%;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.CarouselItem {
  justify-content: center;
  width: 100%;
}

/*Contact Us*/

.ContactUs,
.RegistrationFormWrapper {
  display: flex;
  justify-content: space-around;
}
.ContactUsPage {
  padding: 50px;
  background: linear-gradient(45deg, #f0f7f7, white, white);
}
/****About us*******/
.aboutUsElement {
  border-radius: 15px;
  background: rgb(255, 255, 255, 0.5);
  padding: 10px;
  margin: 5px;
  text-align: center;
  font-family: "Raleway", sans-serif;
}
.AboutUsIntro {
  text-align: justify;
  width: 80%;
  margin: auto;
  padding: 20px;
}
.AboutUsIntro p,
.AboutUsIntro h3 {
  font-family: "Raleway", sans-serif;
}
/******About Our Clubs******/
.aboutUsElementM {
  border-radius: 10px;
  background-color: rgb(129, 127, 127, 0.2);
  padding: 30px;
  margin: 25px;
  text-align: center;
}

.AboutMusicClub {
  width: 100%;
  /*background-image: url("./images/stefany-andrade-GbSCAAsU2Fo-unsplash.jpg");*/
  background: linear-gradient(45deg, rgb(50, 167, 225), white);
  background-size: cover;
}
.AboutArtClub {
  width: 100%;
  /*background-image: url("./images/artClub.jpg");*/
  background: linear-gradient(45deg, blue, white);
  background-size: cover;
}
.AboutSportClub {
  width: 100%;
  background-image: url("./images/ashima-pargal-b24JhTZlxSg-unsplash (1).jpg");
  /*background: linear-gradient(
    45deg,red, white);*/
  background-size: cover;
} /*
.AboutMusicClub p{
  background-color: rgb(129, 127, 127, 0.5);
  width: 60%;
  padding: 25px;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
}*/
.home-page-1 iframe {
  background-color: rgb(129, 127, 127, 0.5);
  width: 100%;
}
/************Comments and Forms*****************/
.AllComments {
  padding: 0;
  margin: 0;
  text-align: justify;
}
.NewsPage,
.AboutUs {
  padding: 50px;
  width: 100%;
  margin: auto;
  background: linear-gradient(
    45deg,
    rgb(50, 167, 225),
    white,
    rgb(75, 50, 137)
  );
}
.NewestFirst{
  display: flex;
  flex-direction: column-reverse;
}
.NewsItem {
  margin: 5px;
}
.NewsItemFb {
  margin: 10px;
  padding: 0px;
}
.FbNewsItems {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.PostNews {
  width: 50%;
  margin: auto;
}
.PublicComment {
  width: 75%;
  text-align: center;
  margin: auto;
}
.CommentBtn {
  width: 150px;
}
.CommentBtnPlacement,
.SingleComment h6,
.SingleForm h6 {
  text-align: right;
}
.PublicComment h5,
h6 {
  color: #353a47;
  font-size: small;
}
/********************ManageProfiles*******************/
.manageList {
  padding: 50px;
}
.manageList a {
  color: grey;
  text-decoration: none !important;
}
.manageList a:hover {
  color: rgb(149, 188, 15);
}
.btn1 {
  width: 75px;
}
.actionBtn {
  display: flex;
  justify-content: space-around;
}
/******************************   Forums  ************************************/
.PostInForum,
.PostActivity {
  width: 90%;
  margin: auto;
}
.PublicForum {
  background: linear-gradient(60deg, rgb(50, 167, 225), rgb(221, 34, 133));
  padding: 50px;
}
.allProjects,
.manageList {
  background: linear-gradient(45deg, rgb(50, 167, 225), rgb(221, 34, 133));
  padding: 50px;
  margin: auto;
}
.SingleCard,
.SingleForm {
  margin: 20px;
}
.actionBtn2 {
  display: flex;
  justify-content: right;
}
/*********/
.Contact3 {
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  width: 80%;
  padding: 50px;
}

/****************Dashbords**************/
/********Teachers******/
#dashboard {
  padding: 50px;
  margin: 0px;
  background: linear-gradient(
    60deg,
    /*rgb(42,156,46) ,
  rgb(149,188,15),*/ rgb(50, 167, 225),
    rgb(75, 50, 137),
    rgb(120, 47, 135),
    rgb(221, 34, 133)
      /*,
  rgb(218,26,34) ,
  rgb(238,129,30) ,
  rgb(245,185,9) ,
  rgb(243,212,27)*/
  );
}
.CardText {
  font-family: "Roboto", sans-serif;
}
.profileElement,
.profileElement2 {
  border-radius: 25px;
  background: rgb(255, 255, 255, 0.5);
  padding: 10px;
  margin: 5px;
  text-align: justify;
}
.profileElement2 {
  text-align: center;
  height: 200px;
}
.profileElements {
  display: flex;
  flex-wrap: wrap;
}
.dashboardCol2 h1 {
  text-shadow: 1px 0px 2px white;
}
.dashboardCol2 h4 {
  color: white;
  font-family: "Montserrat", sans-serif;
}
.ContactDetails {
  margin: auto;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
.profileElement h6 {
  text-align: right;
}
/********Students******/
#dashboardSt {
  padding: 50px;
  margin: 0px;
  background: linear-gradient(
    45deg,
    rgb(42, 156, 46),
    rgb(149, 188, 15),
    rgb(245, 185, 9),
    rgb(243, 212, 27)
  );
}
#dashboardSt h1 {
  color: rgb(42, 156, 46);
  text-shadow: 1px 0px 2px white;
}
#dashboardSt h3 {
  color: rgb(245, 185, 9);
}
/**************************************************************/
.SpinnerLoad {
  display: flex;
  justify-content: space-between;
  width: 40%;
  margin: auto;
  padding: 50px;}
/***********************/
.OpHrTable p, .OpHrTable td {
  padding: 0px;
  font-size: small;
  vertical-align: top;
}
.OpHrTable th, .OpHrTable td {
  border-bottom: 1px solid #ddd;
}
.OpHrTable tr:hover {
  background-color: rgb(243, 212, 27,0.2);
}
.OpHrTable table {
  width: 100%;
}
.OpHrTable{
text-align: center;}